
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


* {
    box-sizing: border-box;
}

body{
    background-color: #23252C;
    display: flex;
    justify-content: center;
}

#root{
    margin-top: 30px;
    width: 318.5px;
}

.info_section{
        background-color: #1A1B21;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        line-height: 0.1;    
}

.info_section > h3{
    color: #FFFF;
    font-family: Inter;
    font-weight: Bold;
    font-size: 25;
}

.info_section > p{
    color: #F3BF99;
    padding-bottom: 25px;
    font-family: Inter;
    font-size: 12.8px;
}

.info_section > a{
    color: #F5F5F5;
    padding-bottom: 20px;
    font-family: Inter;
    font-size: 10.24px;
    text-decoration: none;
}

.info_section > a:active{
    color: pink;
}

.btn_section{
    display: flex;
    justify-content: space-between;
}
.mail_btn{
    width: 115px;
    height: 34px;
    color: FFFFFF;
    font-family: Inter;
    background-color: #FFFFFF;
    border: none;
    border-radius: 7%;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 2px;
}
.mail_btn:hover{
    cursor: pointer;
}

.linked_btn{
    width: 115px;
    height: 34px;
    color: FFFFFF;
    font-family: Inter;
    background-color: #5093E2;
    border: none;
    border-radius: 7%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}
.linked_btn:hover{
    cursor: pointer;
}

.about_section{
    background-color: #1A1B21;
    margin-top: -19px;
    line-height: 1.5;
    padding-left: 36px;
    padding-right: 36px;
}

.about_section > h3{
    color: #F5F5F5;
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px; 
}

.about_section > p{
    color: #DCDCDC;
    font-size: 12.24px; 
}



.int_section{
    background-color: #1A1B21;
    margin-top: -19px;
    line-height: 1.5; 
    padding-left: 36px;
    padding-right: 36px;  
    padding-bottom: 20px; 
}

.int_section > h3{
    color: #F5F5F5;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px; 
}

.int_section > p{
    color: #DCDCDC;
    font-size: 12.24px; 
}


.footer_section{
    background-color: #161619;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}